# Copia este archivo como .env y completa los valores reales.

SECRET_KEY=django-insecure-cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=*

DB_ENGINE=postgresql
DB_NAME=mundial_2026
DB_USER=postgres
DB_PASSWORD=tu_clave
DB_HOST=192.168.1.25
DB_PORT=5432
DB_CONN_MAX_AGE=60
# DB_SSLMODE=require

FOOTBALL_DATA_API_KEY=
